.container {
  position: relative;
  margin-bottom: 70px;
}

.layer0,
.layer1,
.layer2,
.layer3 {
  height: 3.5rem;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 3rem;
  font-family: "EB Garamond", serif;
  font-weight: 400;
  letter-spacing: 20px;
  font-style: normal;
  text-transform: uppercase;
  color: rgb(174, 49, 49);
  user-select: none;
  width: 100vw;
  line-height: 2.5rem;
  mask-size: 200px;
}

.fadeOut {
  opacity: 100%;
}

.fadeIn {
  opacity: 0%;
}

.layer0.fadeIn {
  animation: fadeIn calc(var(--transitionDuration) * 2) linear
    calc(var(--transitionDuration) * 0.5) forwards;
}
.layer1.fadeIn {
  mask-image: url("/heading-mask-1.png");
  animation: fadeIn var(--transitionDuration)
    calc(var(--transitionDuration) * 0.25) forwards;
}
.layer2.fadeIn {
  mask-image: url("/heading-mask-2.png");
  animation: fadeIn var(--transitionDuration) linear
    calc(var(--transitionDuration) * 0.1) forwards;
}
.layer3.fadeIn {
  mask-image: url("/heading-mask-3.png");
  animation: fadeIn var(--transitionDuration) linear forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

.layer0.fadeOut {
  animation: fadeOut calc(var(--transitionDuration) * 0.5) linear forwards;
}
.layer1.fadeOut {
  mask-image: url("/heading-mask-1.png");
  animation: fadeOut calc(var(--transitionDuration) * 0.5) linear
    calc(var(--transitionDuration) * 0.1) forwards;
}
.layer2.fadeOut {
  mask-image: url("/heading-mask-2.png");
  animation: fadeOut calc(var(--transitionDuration) * 0.5) linear
    calc(var(--transitionDuration) * 0.25) forwards;
}
.layer3.fadeOut {
  mask-image: url("/heading-mask-3.png");
  animation: fadeOut calc(var(--transitionDuration) * 0.5) linear
    calc(var(--transitionDuration) * 0.5) forwards;
}

@keyframes fadeOut {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}

@media screen and (max-width: 450px) {
  .layer0,
  .layer1,
  .layer2,
  .layer3 {
    font-size: 2rem;
    letter-spacing: 10px;
    height: 5rem;
  }
}
