.touchTarget {
  /* height: 100px;
  width: 100px; */
  border: none;
  /* border: 1px solid red; */
  background-color: unset;
  cursor: pointer;
  transform: scaleY(59%) rotateZ(45deg);
  /* mix-blend-mode: overlay; */
  border-radius: 20px;
}

/* .touchTarget:hover {
  background-color: rgba(55, 65, 16, 0.462);
} */
