.body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.body a {
  text-decoration: none;
  color: rgb(46, 46, 46);
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  transition-property: "color";
  transition-duration: 0.5s;
}

.body a:hover {
  color: #d43030;
}

.body h2 {
  font-size: 2rem;
  font-family: "EB Garamond", serif;
  font-weight: 400;
  letter-spacing: 20px;
  text-transform: uppercase;
  color: rgb(174, 49, 49);
}

.body p {
  font-size: 0.8rem;
  opacity: 70%;
  font-style: italic;
  text-align: center;
}

/* @media screen and (max-width: 450px) {
  .modal {
    width: 90vw;
    padding: 20px;
    text-align: center;
  }
} */
