.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 16px;
  position: fixed;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.9rem;
  z-index: 200;
  justify-content: space-between;
}

/* .navigation {
  display: flex;
  gap: 16px;
} */

.header a {
  text-decoration: none;
  width: 130px;
  text-align: center;
  color: black;
  cursor: pointer;
  transition-property: all;
  transition-duration: 0.5s;
}

.header button {
  background-color: unset;
  border: none;
  cursor: pointer;
  transition-property: all;
  transition-duration: 0.5s;
}

.header a:hover,
.header button:hover {
  color: #d43030;
}
