.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  padding: 16px;
}

.navigation {
  display: flex;
  gap: 16px;
}

.navigation a {
  text-decoration: none;
  width: 130px;
  text-align: center;
}
