.modal {
  display: flex;
  gap: 20px;
}

.modal button {
  width: 100px;
  height: 100px;
  background-position: center;
  background-size: cover;
  background-color: unset;
  cursor: pointer;
  border: none;
}

.modal button:hover {
  scale: 105%;
}

.modal button img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  opacity: 70%;
}

@media screen and (max-width: 450px) {
  .modal {
    width: 50vw;
    gap: 12px;
  }
}
