.button {
  background-color: unset;
  height: 20px;
  width: 20px;
  border-top-width: 20px;
  border-bottom-width: 20px;
  border-left-width: 30px;
  border-right-width: 0px;
  border-left-color: #6b6b6b;
  border-top-color: transparent;
  border-bottom-color: transparent;
  z-index: 100;
  cursor: pointer;
  margin-top: 15%;
  transition-property: all;
  transition-duration: 0.5s;
}

.button:hover {
  border-left-color: #f24747;
}

@media screen and (max-width: 450px) {
  .button {
    margin-top: auto;
    margin-bottom: 20vh;
  }
  .button:hover {
    border-left-color: #999999;
  }
}
