.container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: unset;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  z-index: 500;
}

.banner {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(5px);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: slideIn 0.8s ease-out forwards;
  opacity: 0%;
  animation-delay: 0.2s;
  text-align: center;
  font-size: 3rem;
  font-family: "EB Garamond", serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
}

.banner h2 {
  color: #8b7d45;
  font-size: 5rem;
  letter-spacing: 20px;
  font-weight: 100;
}

.banner h3 {
  color: #5b5b5b;
  font-size: 2rem;
}

.button {
  background-color: white;
  border: 1px solid #bbbbbb;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  padding: 12px;
  border-radius: 8px;
  color: #898989;
  font-size: 1.3rem;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  animation: fadeIn 0.8s ease-out forwards;
  animation-delay: 1s;
  opacity: 0%;
  font-family: "EB Garamond", serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  transition-property: all;
  transition-duration: 0.5s;
}

.button:hover {
  color: #f24747;
}

@keyframes slideIn {
  from {
    transform: translateY(60px);
    opacity: 0%;
  }
  to {
    transform: translateY(0px);
    opacity: 100%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
